################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PurpleRose.Data.Foundation/.vs/PurpleRose.Data.Foundation/v15/Server/sqlite3
